# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\isali\OneDrive - Haute Ecole de Namur-Liege-Luxembourg\IESN IG2\Q2\Java\Labos\projetJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
